<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.facebook.stetho.sample">

  <uses-permission android:name="android.permission.READ_CALENDAR" />

  <application
      tools:replace="android:name"
      android:name=".SampleDebugApplication" />

</manifest>
