<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.stetho.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApplication"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title" />

        <activity
            android:name=".APODActivity"
            android:label="@string/apod_title" />

        <activity
            android:name=".NpeActivity"
            android:label="Npe Activity" />

        <provider
            android:name=".APODContentProvider"
            android:authorities="com.facebook.stetho.sample.apod"
            android:exported="false" />

    </application>

</manifest>
