<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>    
    {% include nav.html %}
    <div class="navPusher">
      {% include header.html %}
      <script src="external/scrollMonitor/scrollMonitor.js"></script>
      <script type="text/javascript">
        var myElement = document.getElementById("project_title");
        var header = document.getElementById("fixed_header");

        var elementWatcher = scrollMonitor.create( myElement );

        elementWatcher.enterViewport(function() {
          header.classList.remove('visible');
        });
        elementWatcher.exitViewport(function() {
          header.classList.add('visible');
        });
      </script>
      <div class="mainContainer">
        <div id="main_wrap" class="wrapper mainWrapper">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>

</html>
